body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  opacity: 0.9;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
}
.header-page {
  width: auto;
  height: auto;
}
.logo-buttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid;
  top: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.logo {
  margin-left: 10px;
}
.img-logo {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu-a-button {
  text-decoration: none;
  color: seashell;
  margin-right: 20px;
}
.menu-a-button:hover {
  text-decoration: underline;
}
.our-mission {
  width: 1200px;
  height: 700px;
  margin: 70px auto;
  background: url(../img/mission-background.webp) no-repeat;
  display: flex;
  align-items: center;
}
.text-title {
  width: 1200px;
  height: 100px;
  background-color: black;
}
.title-h2 {
  text-align: center;
  height: 10px;
  width: auto;
  margin-top: -15px;
}
.title-h4 {
  text-align: center;
  height: 50px;
  margin-top: 45px;
}
.page-2 {
  margin-top: 100px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.page-2-title {
  text-align: center;
}
.page-2-img-catalog {
  display: flex;
  flex-wrap: wrap;
}
figure img {
  width: 300px;
  height: 200px;
  border: 2px solid;
}
figure {
  text-align: center;
  margin: 10px auto;
}
figcaption {
  margin-top: 10px;
}
.page-3-img-catalog {
  width: 670px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.page-3 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid;
  background: url(/img/locations-background.jpg) no-repeat;
}
.page-3 h2 {
  text-align: center;
  margin-top: 80px;
}
.block-info {
  display: flex;
  justify-content: space-around;
}
.block {
  width: 300px;
  text-align: center;
  margin: 0 20px;
  background-color: black;
  height: 250px;
  margin-top: 15px;
  border: 1px solid;
}
.block p {
  padding: 5px 0px;
}
.page-4 {
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
.page-contact {
  margin-top: -18px;
}
.page-contact h2 {
  height: 50px;
}
footer {
  padding-left: 35px;
}
